---
samba_hostname: sambahost
samba_domain: example.com

krb5_default_realm: EXAMPLE.COM

timesyncd_ntpsvr: ntp.example.com

realmd_realm: example.com

realm_user: Administrator
realm_ou: OU=Computers,OU=EXAMPLE,DC=example,DC=com
realm_domain: example.com
realm_passwd: Password!

usermap_root: EXAMPLE\Administrator

share_names:
  - /samba/share1/
  - /samba/share2/

share_acls:
  - path: /samba/share1/
    entity: 'domain users'
    etype: group
    permissions: rwx
    default: no
  - path: /samba/share1/
    entity: 'domain users'
    etype: group
    permissions: rwx
    default: yes
  - path: /samba/share2/
    entity: 'domain admins'
    etype: group
    permissions: rwx
    default: no
  - path: /samba/share2/
    entity: 'domain admins'
    etype: group
    permissions: rwx
    default: yes

smbconf_pwdsvr: pwdsvr.example.com
smbconf_realm: EXAMPLE.COM
smbconf_wrkgrp: EXAMPLE
